@using MyHotelWebsite.Web.ViewModels.ViewComponents
@model DashboardStatisticsViewModel


<div>
    <div class="row d-flex justify-content-center mt-3 mb-3">
        <ul class="list-group ">
            <li class="list-group-item list-group-item-danger">Total Blogs: @Model.BlogsCount</li>
            <li class="list-group-item bg-light">Total Dishes: @Model.DishesCount</li>
            <li class="list-group-item list-group-item-danger">Total Orders: @Model.OrdersCount</li>
            <li class="list-group-item bg-light">Total Rooms: @Model.RoomsCount</li>
            <li class="list-group-item list-group-item-danger">Total Guests: @Model.GuestsCount</li>
            <li class="list-group-item bg-light">Total Reservations: @Model.ReservationsCount</li>
        </ul>
    </div>
</div>

