@using MyHotelWebsite.Web.ViewModels.Pagination;

@model PagingReservationsByFiveCriteriaSearchViewModel

<section>
    <div class="d-flex justify-content-center">
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item @if (!Model.HasPreviousPage) {
                <text>disabled</text>
 }">
                    <a class="page-link" asp-action="ByFiveCriteria" asp-route-id="@Model.PreviousPageNumber" asp-route-catering="@Model.Catering" asp-route-roomType="@Model.RoomType" asp-route-reservationEmail="@Model.ReservationEmail" asp-route-reservationPhone="@Model.ReservationPhone" asp-route-sorting ="@Model.Sorting">«</a>
                </li>
                @for (int i = Model.PageNumber - 2; i < Model.PageNumber; i++)
                {
                    if (i > 0)
                    {
                        <li class="page-item"><a class="page-link" asp-action="ByFiveCriteria" asp-route-id="@i" asp-route-catering="@Model.Catering" asp-route-roomType="@Model.RoomType" asp-route-reservationEmail="@Model.ReservationEmail" asp-route-reservationPhone="@Model.ReservationPhone" asp-route-sorting="@Model.Sorting">@i</a> </li>
                    }
                }
                <li class="page-item active" aria-current="page">
                    <span class="page-link">
                        @Model.PageNumber
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
                @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 2; i++)
                {
                    if (i <= Model.TotalPagesCount)
                    {
                        <li class="page-item"><a class="page-link" asp-action="ByFiveCriteria" asp-route-id="@i" asp-route-catering="@Model.Catering" asp-route-roomType="@Model.RoomType" asp-route-reservationEmail="@Model.ReservationEmail" asp-route-reservationPhone="@Model.ReservationPhone" asp-route-sorting="@Model.Sorting">@i</a></li>
                    }
                }
                <li class="page-item>
                    @if (!Model.HasNextPage) {
                    <text>disabled</text>
                    }">
                    <a class="page-link" asp-action="ByFiveCriteria" asp-route-id="@Model.NextPageNumber" asp-route-catering="@Model.Catering" asp-route-roomType="@Model.RoomType" asp-route-reservationEmail="@Model.ReservationEmail" asp-route-reservationPhone="@Model.ReservationPhone" asp-route-sorting="@Model.Sorting">»</a>
                </li>
            </ul>
        </nav>
    </div>
</section>
