@using Microsoft.AspNetCore.Identity;
@using MyHotelWebsite.Common;
@using MyHotelWebsite.Data.Models;
@using MyHotelWebsite.Web.ViewModels.Guests.Orders;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model AllOrderViewModel

@{
    int i = 1;
}

<body>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Guest Name</th>
                <th scope="col">Date Created</th>
                <th scope="col">Order Status</th>
                <th scope="col">See More</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.PageNumber != 1)
            {
                i = (Model.PageNumber) * 10 - 9;
            }
            @foreach (var order in Model.Orders)
            {
                if (this.SignInManager.IsSignedIn(this.User) && (this.User.IsInRole(GlobalConstants.GuestRoleName)))
                {
                    <tr>
                        <td>@(i++)</td>
                        <td>@order.ApplicationUser.FirstName  @order.ApplicationUser.LastName</td>
                        <td>@order.CreatedOn</td>
                        <td>@order.OrderStatus.ToString()</td>
                        <td>
                            <div class="event-blog-details">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a class="btn btn-default" style="margin-left:5px" asp-controller="Orders" asp-action="Details" asp-route-id="@order.Id" class="btn btn-secondary">Details </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
