@using Microsoft.AspNetCore.Identity
@using MyHotelWebsite.Common
@using MyHotelWebsite.Data.Models
@using MyHotelWebsite.Web.ViewModels.Blogs

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model BlogAllViewModel

<body>
@foreach (var blog in Model.Blogs)
{
    <section class="blog-block">
        <div class="container">
            <div class="row offspace-45">
                <div class="view-set-block">
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <div class="event-blog-image">
                            <img alt="Blog image" class="img-responsive" src="@("https://localhost:5001/" + @blog.BlogImageUrl)">
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-12 side-in-image">
                        <div class="event-blog-details">
                                <h4><a asp-controller="Blogs" asp-action="Details" asp-route-id="@blog.Id">@blog.Title</a></h4>
                            <p id="blog-article">@blog.Content</p>
                                <a class="btn btn-default" asp-controller="Blogs" asp-action="Details" asp-route-id="@blog.Id">Read All</a>
                                @if (this.SignInManager.IsSignedIn(this.User) && (this.User.IsInRole(GlobalConstants.HotelManagerRoleName) || this.User.IsInRole(GlobalConstants.WebsiteAdministratorRoleName)))
                                {
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <a class="btn btn-default" style="margin-left:5px" asp-controller="Blogs" asp-action="Edit" asp-route-id="@blog.Id" class="btn btn-secondary">Edit</a>
                                        <a class="btn btn-default" style="margin-left:7px" asp-controller="Blogs" asp-action="Delete" asp-route-id="@blog.Id" onclick="return confirm('Are you sure you want to delete this blog?')" class="btn btn-secondary">Delete</a>
                                    </div>
                                }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
</body>

