@using Microsoft.AspNetCore.Identity
@using MyHotelWebsite.Common
@using MyHotelWebsite.Data.Models
@using MyHotelWebsite.Web.ViewModels.Administration.Rooms


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model RoomByFourCriteriaSearchViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/icons/favicon.png" />
    <title>vacayhome</title>

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/fonts/antonio-exotic/stylesheet.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/lightbox.min.css">
    <link href="~/css/responsive.css" rel="stylesheet">
    <script src="~/js/jquery.min.js" type="text/javascript"></script>
    <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/js/lightbox-plus-jquery.min.js" type="text/javascript"></script>
    <script src="~/js/instafeed.min.js" type="text/javascript"></script>
    <script src="~/js/custom.js" type="text/javascript"></script>
</head>
<body>
    @foreach (var room in Model.Rooms)
    {
        <div class="card" style="width: 25rem; margin:20px">
            <div class="card-body justify-content-center">
                <h3 class="card-title justify-content-center">@room.RoomType</h3>
                <br>
                <h4 class="card-text">Room Number: @room.RoomNumber</h4>
                <h4 class="card-text">Capacity: @room.Capacity</h4>
                <h4 class="card-text">Floor: @room.Floor</h4>
                <br>
                <h4 class="card-text">Adult price: @room.AdultPrice euro</h4>
                <h4 class="card-text">Children price: @room.ChildrenPrice euro</h4>
                <br>
                <h4 class="card-text">Is reserved: @(room.IsReserved ? "Yes" : "No")</h4>
                <h4 class="card-text">Is occupied: @(room.IsOccupied ? "Yes" : "No")</h4>
                <h4 class="card-text">Is cleaned: @(room.IsCleaned ? "Yes" : "No")</h4>
                <br>
                <div class="btn-group" role="group" aria-label="Basic example">
                    @if (this.SignInManager.IsSignedIn(this.User) && this.User.IsInRole(GlobalConstants.HotelManagerRoleName))
                    {
                        <a type="button" class="btn btn-small btn-danger" style="margin:10px; width:100px" asp-area="Administration" asp-controller="Rooms" asp-action="Edit" asp-route-id="@room.Id" class="btn btn-secondary">Edit</a>
                    }
                    @if (this.SignInManager.IsSignedIn(this.User) && (this.User.IsInRole(GlobalConstants.HotelManagerRoleName) || this.User.IsInRole(GlobalConstants.MaidRoleName)))
                    {
                        <a type="button" class="btn btn-small btn-danger" style="margin:10px; margin-left:50px; width:100px" asp-area="Administration" asp-controller="Rooms" asp-action="Clean" asp-route-id="@room.Id" class="btn btn-secondary">Clean</a>
                    }
                    @if (this.SignInManager.IsSignedIn(this.User) && (this.User.IsInRole(GlobalConstants.HotelManagerRoleName) || this.User.IsInRole(GlobalConstants.ReceptionistRoleName)))
                    {
                        <a type="button" class="btn btn-small btn-danger" style="margin:10px; margin-left:100px;width:100px" asp-area="Administration" asp-controller="Reservations" asp-action="Book" asp-route-id="@room.Id" class="btn btn-secondary">Reserve</a>
                    }
                </div>
            </div>
        </div>
    }

</body>
</html>


