@using Microsoft.AspNetCore.Identity
@using MyHotelWebsite.Common
@using MyHotelWebsite.Data.Models
@using MyHotelWebsite.Web.ViewModels.Administration.Rooms


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model AllRoomViewModel

<body>
    @foreach (var room in Model.Rooms)
    {
        <div class="card" style="width: 25rem; margin:20px">
            <div class="card-body justify-content-center">
                <h3 class="card-title justify-content-center">@room.RoomType</h3>
                <br>
                <h4 class="card-text">Room Number: @room.RoomNumber</h4>
                <h4 class="card-text">Capacity: @room.Capacity</h4>
                <h4 class="card-text">Floor: @room.Floor</h4>
                <br>
                <h4 class="card-text">Adult price: @room.AdultPrice euro</h4>
                <h4 class="card-text">Children price: @room.ChildrenPrice euro</h4>
                <br>
                <h4 class="card-text">Is reserved: @(room.IsReserved ? "Yes" : "No")</h4>
                <h4 class="card-text">Is occupied: @(room.IsOccupied ? "Yes" : "No")</h4>
                <h4 class="card-text">Is cleaned: @(room.IsCleaned ? "Yes" : "No")</h4>
                <br>
                <div class="btn-group" role="group" aria-label="Basic example">
                @if (this.SignInManager.IsSignedIn(this.User) && (this.User.IsInRole(GlobalConstants.HotelManagerRoleName) || this.User.IsInRole(GlobalConstants.MaidRoleName)))
                {
                        <a type="button" class="btn btn-small btn-danger" style="width:100px" asp-area="Administration" asp-controller="Rooms" asp-action="Clean" asp-route-id="@room.Id" class="btn btn-secondary">Clean</a>
                }
                @if (this.SignInManager.IsSignedIn(this.User) && (this.User.IsInRole(GlobalConstants.HotelManagerRoleName) || this.User.IsInRole(GlobalConstants.ReceptionistRoleName)))
                {
                        <a type="button" class="btn btn-small btn-danger" style="margin-left:10px; width:100px" asp-area="Administration" asp-controller="Reservations" asp-action="ReserveRoom" asp-route-id="@room.Id" class="btn btn-secondary">Reserve</a>
                }
                </div>
            </div>
        </div>
    }
</body>

