@using MyHotelWebsite.Web.ViewModels.Guests.Orders;

@model AllDishesInOneOrderViewModel

<div class="container px-3 my-5 clearfix">
    <div class="card mt-3">
        <div class="card-header text-danger text-center pt-3 mb-3" style="color:#d9534f">
            <h2><b>Order Details</b></h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered m-0">
                    <thead>
                        <tr>
                            <th class="text-center py-3 px-4" style="width:30px;font-size:18px">Dish Image</th>
                            <th class="text-center py-3 px-4" style="min-width:150px;font-size:18px">Dish Name</th>
                            <th class="text-center py-3 px-4" style="min-width:150px;font-size:18px">Dish Category</th>
                            <th class="text-right py-3 px-4" style="width:80px;font-size:18px">Price (euro)</th>
                            <th class="text-center py-3 px-4" style="width:50px;font-size:18px">Quantity</th>
                            <th class="text-center py-3 px-4" style="width:80px;font-size:18px">Total (euro)</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var singleDish in Model.Dishes)
                        {
                            <tr>
                                <td>
                                    <img src="@("https://localhost:5001/" + singleDish.Dish.DishImageUrl)" alt="@singleDish.Dish.Name">
                                </td>
                                <td class="text-center align-middle px-0" style="font-size:18px"><h3 class="text-danger"><b>@singleDish.Dish.Name</b></h3></td>
                                <td class="text-center align-middle px-0" style="font-size:18px">
                                    <h4 class="text-danger"> <b>@singleDish.Dish.DishCategory</b> </h4> </td>
                                <td class="text-right font-weight-semibold align-middle p-4" style="font-size:18px">@singleDish.Dish.Price</td>
                                <td class="text-center align-middle px-0" style="font-size:18px">@singleDish.DishQuantity</td>
                                <td class="text-center align-middle px-0" style="font-size:16px">@((singleDish.Dish.Price * singleDish.DishQuantity).ToString("F2"))</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row">
            <div class="col-md-6 offset-4 mt-4">
                    <span style="font-size:22px"><strong>Order Total: @Model.TotalPrice.ToString("F2") </strong> euro</span>
            </div>
            </div>
        </div>
        <br />
    </div>
</div>
