@using Microsoft.AspNetCore.Identity;
@using MyHotelWebsite.Common;
@using MyHotelWebsite.Data.Models;

@inject SignInManager<ApplicationUser> signInManager

<body>
    <div id="page">
        <section class="image-head-wrapper">
            <div class="inner-wrapper">
                <h1>Rooms</h1>
            </div>
        </section>
        <div class="clearfix"></div>

        <!--gallery block--->
        <section class="gallery-block gallery-front">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Room-single.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Room-single-big.png"><i class="fa fa-search" aria-hidden="true"></i></a>
                                <p style="color:white">Single room Price: @GlobalConstants.SingleRoomPrice euro</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Room-double.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Room-double-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                                <p style="color:white">Double room Prices: @GlobalConstants.DoubleRoomAdultsPricePerBed / @GlobalConstants.DoubleRoomChildrenPricePerBed euro</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Room-studio.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Room-studio-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                                <p style="color:white">Studio <br /> Prices: @GlobalConstants.StudioAdultsPricePerBed / @GlobalConstants.StudioChildrenPricePerBed euro</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="gallery-image">
                            <img class="img-responsive" src="~/images/Room-apartment.png">
                            <div class="overlay">
                                <a class="info pop example-image-link img-responsive" href="~/images/Room-apartment-big.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
                                <p style="color:white">Apartment Prices: @GlobalConstants.ApartmentAdultsPricePerBed / @GlobalConstants.ApartmentChildrenPricePerBed euro</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr />

        <section>
            <div class="container justify-content-center">
                <div class="h-100 d-flex align-items-center justify-content-center">
                    <ul class="list-unstyled nav1 cl-effect-10">
                    @if (signInManager.IsSignedIn(User))
                    {
                         <li><a data-hover="Book a room" class="active" asp-area="Guest" asp-controller="Reservations" asp-action="Book"><span>Book a room</span></a></li>
                    }
                    else
                    {
                            <li><a data-hover="Book a room" class="active" asp-area="Guest" asp-controller="Reservations" asp-action="Book"><span>Book a room</span></a></li>
                    }
                    </ul>
                </div>
            </div>
        </section>
    </div>
</body>
